{% extends "trainman/base.html" %}

{% load i18n %}

{% block content %}
	<ul class="infolist">
		<li>{% trans "The following form is intended only for teachers (including PhD students)" %}.</li>
	</ul>

    <div id="create_accout">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table_0" action="{% url apps.trainman.views.create_account %}" method="post">
                <thead>
                    <tr>
                        <td colspan="2">{% trans "Create account form" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="label">{{form.first_name.label}}:</td>
                        <td class="item">{{form.first_name.errors}}{{form.first_name}}</td>
                    </tr>
                    <tr>
                        <td class="label">{{form.second_name.label}}:</td>
                        <td class="item">{{form.second_name.errors}}{{form.second_name}}</td>
                    </tr>
                    <tr>
                        <td class="label">{{form.last_name.label}}:</td>
                        <td class="item">{{form.last_name.errors}}{{form.last_name}}</td>
                    </tr>
                    <tr>
                        <td class="label">{{form.email1.label}}:</td>
                        <td class="item">{{form.email1.errors}}{{form.email1}}</td>
                    </tr>
                    <tr>
                        <td class="label">{{form.email2.label}}:</td>
                        <td class="item">{{form.email2.errors}}{{form.email2}}</td>
                    </tr>
                    <tr>
                        <td class="label">{{form.department.label}}:</td>
                        <td class="item">{{form.department.errors}}{{form.department}}</td>
                    </tr>
                    <tr>
                        <td class="label">{{form.teacher_degree.label}}:</td>
                        <td class="item">{{form.teacher_degree.errors}}{{form.teacher_degree}}</td>
                    </tr>
                    <tr>
                        <td class="label">{{form.teacher_position.label}}:</td>
                        <td class="item">{{form.teacher_position.errors}}{{form.teacher_position}}</td>
                    </tr>
                    <tr>
                        <td class="label id_document">{{form.id_document.label}}:</td>
                        <td class="item">{{form.id_document.errors}}{{form.id_document}}</td>
                    </tr>
                    <tr>
                        <td class="label id_document">{{form.id_number.label}}:</td>
                        <td class="item">{{form.id_number.errors}}{{form.id_number}}</td>
                    </tr>
                    <tr>
                        <td class="label">{{form.additional_information.label}}:</td>
                        <td class="item">{{form.additional_information.errors}}{{form.additional_information}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="button_2">{% trans "Send" %}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}