{% extends "trainman/base.html" %}

{% load i18n %}

{% block page_title %}
	{{ block.super }}| {% trans "Log in" %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block user_bar %}

{% endblock %}

{% block content %}
<div id="login">
  <form method="post" action="{% url apps.trainman.views.user_login %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}">
    <table class="table_0 login_table">
      <thead>
	<tr>
	  <td class="left" colspan="2">{% trans "Log in form" %}</td>
	</tr>
      </thead>
      <tbody>
	<tr>
	  <td class="label">{{ form.username.label_tag }}:</td>
	  <td class="item">{{ form.username }}</td>
	</tr>
	<tr>
	  <td class="label">{{ form.password.label_tag }}:</td>
	  <td class="item">{{ form.password }}</td>
	</tr>
      </tbody>
    </table>
    
    <div class="spacer_5"></div>
    
    <div class="login_actions">
      <div class="left">
        <button type="submit" class="button_2">{% trans "Log in" %}</button>
      </div>
      
      <div class="right">
        <a class="link_0" href="{% url apps.trainman.views.create_account %}">{% trans "Create account" %}</a> 
        | <a class="link_0" href="{% url django.contrib.auth.views.password_reset %}">{% trans "Forgot your password?" %}</a>
      </div>
      <div class="clear"></div>
      
    </div>
  </form>
</div>

{% endblock %}
