{% extends "trainman/base.html" %}

{% load i18n %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div id="password_reset">
        <h2>{% trans "Password has been reset" %}</h2>
        <p>{% trans "Instructions for further proceedings have been sent to your e-mail address. You should receive them soon." %}</p>
    </div>
{% endblock %}
