{% extends "trainman/base.html" %}

{% load i18n %}

{% block page_title %}
{{ block.super }} | {% trans "Change password" %}
{% endblock %}

{% block horizontal_menu_items %}
        <li><a href="{% url apps.trainman.views.user_profile %}">{% trans "Profile" %}</a></li>
        <li><a href="{% url apps.trainman.views.user_password_change %}">{% trans "Change password" %}</a></li>
{% endblock %}

{% block content %}
    <form action="{% url apps.trainman.views.user_password_change %}" method="POST">
        {% csrf_token %}
        <table class="table_0 no_cell_borders">
            <thead>
                <tr>
                    <td class="left" colspan="2">{% trans "Change password form" %}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="label">{{ form.old_password.label}}:</td>
                    <td class="item">
                        {{ form.errors.old_password }}
                        {{ form.old_password}}
                    </td>
                </tr>
                <tr>
                    <td class="label">{{ form.new_password1.label}}:</td>
                    <td class="item">
                        {{ form.errors.new_password1 }}
                        {{ form.new_password1}}
                    </td>
                </tr>
                <tr>
                    <td class="label">{{ form.new_password2.label}}:</td>
                    <td class="item">
                        {{ form.errors.new_password2 }}
                        {{ form.new_password2}}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="item">
                        <button class="button_2" type="submit" value="save_and_add" name="action">{% trans "Send" %}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="spacer_5"></div>
    </form>
{% endblock %}
