{% extends "trainman/base.html" %}

{% load i18n %}

{% block page_title %} {% trans "Your password has been changed" %} {% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div id="password_reset">
        <h2>{% trans "Your password has been changed" %}.</h2>
        <p>{% trans "You can log in now." %}</p>
        <div class="spacer_5"></div>
        <p><a class="link_0" href="{{ login_url }}">{% trans "Log in" %}</a></p>
    </div>
{% endblock %}
