{% extends "trainman/base.html" %}

{% load i18n %}

{% block content %}
	<ul class="infolist">
		<li>{% trans "Enter the email address you used to register in the system. At the specified e-mail account will be sent a message with further instructions." %}</li>
	</ul>
    <div id="password_reset">
        <form method="POST" action="">
            {% csrf_token %}
            <table class="table_0">
                <tr>
                    <td class="label">{{ form.email.label }}: </td>
                    <td class="item">{{ form.email.errors }} {{ form.email }}</td>
                    <td><button class="button_2" type="submit">{% trans "Send" %}</button></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
