{% load i18n %}

{% if request.user.is_authenticated %}
    {{ request.user.get_full_name }} |
    {% if request.user.is_superuser or request.user.is_staff %}
		<a class="link_0" href="/admin">{% trans "Admin" %}</a> |
	{% endif %}
    <a class="link_0" href="{% url apps.trainman.views.user_profile %}">{% trans "Settings" %}</a> |
    <a class="link_0" href="{% url apps.trainman.views.user_logout %}">{% trans "Logout" %}</a>
{% else %}
	<a class="link_0" href="{% url apps.trainman.views.create_account %}">{% trans "Create account" %}</a> |
	<a class="link_0" href="{% url django.contrib.auth.views.password_reset %}">{% trans "Forgot your password?" %}</a> |

	<form method="post" action="{% url apps.trainman.views.user_login %}">
	    {% csrf_token %}
		{{ form.username.label_tag }}: {{ form.username }}
		{{ form.password.label_tag }}: {{ form.password }}
		<button type="submit" class="button_2">{% trans "Log in" %}</button>
	</form>
{% endif %}